In [1]:
import pandas as pd
import os

In [6]:
df = pd.read_json('../Downloads/News_Category_Dataset_v3.json',lines=True)

In [8]:
df.head(2)

,authors,category,date,headline,link,short_description
0,"Carla K. Johnson, AP",U.S. NEWS,2022-09-23,Over 4 Million Americans Roll Up Sleeves For O...,https://www.huffpost.com/entry/covid-boosters-...,Health experts said it is too early to predict...
1,Mary Papenfuss,U.S. NEWS,2022-09-23,"American Airlines Flyer Charged, Banned For Li...",https://www.huffpost.com/entry/american-airlin...,He was subdued by passengers and crew when he ...

In [9]:
df.shape

(209527, 6)

In [10]:
data=df[['short_description','category']]

In [11]:
data.head(5)

                                   short_description   category
0  Health experts said it is too early to predict...  U.S. NEWS
1  He was subdued by passengers and crew when he ...  U.S. NEWS
2  "Until you have a dog you don't understand wha...     COMEDY
3  "Accidentally put grown-up toothpaste on my to...  PARENTING
4  Amy Cooper accused investment firm Franklin Te...  U.S. NEWS

In [12]:
headline=data.iloc[0:10,0:1]
headline.head(5)

                                   short_description
0  Health experts said it is too early to predict...
1  He was subdued by passengers and crew when he ...
2  "Until you have a dog you don't understand wha...
3  "Accidentally put grown-up toothpaste on my to...
4  Amy Cooper accused investment firm Franklin Te...

In [13]:
data['category'].unique()

array(['U.S. NEWS', 'COMEDY', 'PARENTING', 'WORLD NEWS', 'CULTURE & ARTS',
       'TECH', 'SPORTS', 'ENTERTAINMENT', 'POLITICS', 'WEIRD NEWS',
       'ENVIRONMENT', 'EDUCATION', 'CRIME', 'SCIENCE', 'WELLNESS',
       'BUSINESS', 'STYLE & BEAUTY', 'FOOD & DRINK', 'MEDIA',
       'QUEER VOICES', 'HOME & LIVING', 'WOMEN', 'BLACK VOICES', 'TRAVEL',
       'MONEY', 'RELIGION', 'LATINO VOICES', 'IMPACT', 'WEDDINGS',
       'COLLEGE', 'PARENTS', 'ARTS & CULTURE', 'STYLE', 'GREEN', 'TASTE',
       'HEALTHY LIVING', 'THE WORLDPOST', 'GOOD NEWS', 'WORLDPOST',
       'FIFTY', 'ARTS', 'DIVORCE'], dtype=object)

In [14]:

options = ['U.S. NEWS', 'COMEDY', 'PARENTING', 'WORLD NEWS', 'CULTURE & ARTS'] 
    
# selecting rows based on condition 
data = data[data['category'].isin(options)]

In [15]:
data.head(2)

                                   short_description   category
0  Health experts said it is too early to predict...  U.S. NEWS
1  He was subdued by passengers and crew when he ...  U.S. NEWS

In [16]:
data['category'].unique()

array(['U.S. NEWS', 'COMEDY', 'PARENTING', 'WORLD NEWS', 'CULTURE & ARTS'],
      dtype=object)

In [17]:
data=data.rename(columns={'short_description':'description'})
data.head(5)

                                         description   category
0  Health experts said it is too early to predict...  U.S. NEWS
1  He was subdued by passengers and crew when he ...  U.S. NEWS
2  "Until you have a dog you don't understand wha...     COMEDY
3  "Accidentally put grown-up toothpaste on my to...  PARENTING
4  Amy Cooper accused investment firm Franklin Te...  U.S. NEWS

In [18]:
target={'U.S. NEWS':0, 'COMEDY':1, 'PARENTING':2, 'WORLD NEWS':3, 'CULTURE & ARTS':4}

In [19]:
data['target']=data['category'].map(target)
data.head(5)

                                         description   category  target
0  Health experts said it is too early to predict...  U.S. NEWS       0
1  He was subdued by passengers and crew when he ...  U.S. NEWS       0
2  "Until you have a dog you don't understand wha...     COMEDY       1
3  "Accidentally put grown-up toothpaste on my to...  PARENTING       2
4  Amy Cooper accused investment firm Franklin Te...  U.S. NEWS       0

In [20]:
data['description'][0]

'Health experts said it is too early to predict whether demand would match up with the 171 million doses of the new boosters the U.S. ordered for the fall.'

In [30]:
import nltk
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem import WordNetLemmatizer 
wnl=WordNetLemmatizer ()
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/uchreetinsan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [31]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/uchreetinsan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [32]:
len(data)

19941

In [38]:
data.reset_index(drop=True,inplace=True)
# data.iloc[13]

In [39]:
corpus=[]
for i in range(len(data)):
#     print(data['description'][i],i)
    word=re.sub('[^a-zA-Z]',' ', data['description'][i])
    word=word.lower()
    word=word.split()
    word=[wnl.lemmatize(i) for i in word if i not in stopwords.words('english')]
    word=' '.join(word)
    corpus.append(word)

In [40]:
data['description'][13]

'Conservative activist Virginia Thomas, the wife of Supreme Court Justice Clarence Thomas, has agreed to participate in a voluntary interview with the House panel investigating the Jan. 6 insurrection.'

In [41]:
corpus[13]

'conservative activist virginia thomas wife supreme court justice clarence thomas agreed participate voluntary interview house panel investigating jan insurrection'

In [42]:
len(corpus)

19941

In [43]:
y=data['target']

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfvec=TfidfVectorizer()

In [45]:
x=tfvec.fit_transform(corpus).toarray()

In [46]:
x.shape

(19941, 23240)

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [48]:
from sklearn.ensemble import GradientBoostingClassifier

In [54]:
# clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
#    max_depth=1, random_state=0).fit(X_train, y_train)
# y_pred=clf.score(X_test)
from sklearn.metrics import confusion_matrix
# confusion_matrix(y_test, y_pred)
# from sklearn.metrics import accuracy_score
# accuracy_score(y_test, y_pred)

In [57]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(X_train,y_train)
y_pred=model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   3,   26,  155,   80,    0],
       [   0,  305,  776,    6,    0],
       [   1,   13, 1771,    4,    0],
       [   0,   36,  244,  370,    0],
       [   0,   21,  169,    5,    4]])

In [58]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6149410879919779